/*--------------------------*/
/*  625px */
/*--------------------------*/

@media (max-width: 625px) {
    .card {
        display: block;
        height: 94vh;
        width: 90vw;
        box-shadow: none;
    }

    .card-left {
        height: 40%;
    }

    .card-right {
        height: 60%;
        padding: 2.35rem;
    }

    .card-right--title {
        font-size: 3.2rem;
    }

    .card-left__image-desktop {
        display: none;
    }

    .card-left__image-mobile {
        display: block;
    }
}

/*--------------------------*/
/*  375px (Mobile) */
/*--------------------------*/
/* Pour avoir la taille mobile en un click 
(dans le responsive DevTool du navigateur)
--------------------------------------- */

@media (max-width: 375px) {
}
